<!DOCTYPE html>
<html>
  <head>
    <title>Bucket List</title>

    <!-- bootstrap links -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">   
  </head>

  <body> 

  <!-- creates three buttons on top right of web page -->
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-tabs pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="/showSignin">Sign In</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">My Bucket List</h3>
      </div>

      <!-- footer method -->
      <footer class="footer">
        <p>&copy; Gary Mannion Python Flask App </p>
      </footer>

    </div>
  </body>
</html>