
<!DOCTYPE html>
<html>
  <head>
    <title>Bucket List App</title>

    <!-- bootstrap links -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <!-- creates three buttons on top right of web page -->
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-tabs pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="#">Sign In</a></li>
            <li role="presentation" ><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">My Bucket List</h3>
      </div>

      <!-- creates label and input for email address and password-->
      <div class="jumbotron">
        <h1>Bucket List</h1>
        <form class="form-signin" action="/validateLogin" method="post">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        
        <button id="btnSignIn" class="btn btn-xs btn-success btn-block" type="submit">Sign in</button>
      </form>
      </div>
      
      <!-- Footer method -->
      <footer class="footer">
        <p>&copy; Gary Mannion Python Flask App</p>
      </footer>

    </div>
  </body>
</html>